@{
    ViewData["Title"] = "Covey's Quadrants";
}

@model List<TaskModel>

@*twelve columns in bootstrap grid*@

<div class="container">

    @*row 1 - Title of Matrix*@
    <div class=row>

        <div class="col-lg-12 col-xs-6 border border-width:8px border-dark">
            <h1 style="text-align:center">Stephen Covey's Time Management Matrix</h1>
        </div>

    </div>

    @*row 2 - Empty Block / Urgent / Not Urgent*@
    <div class="row">

        <div class="col-lg-2 col-xs-6 border border-width:8px border-dark"></div>

        <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">
            <h3 style="text-align:center">Urgent</h3>
        </div>

        <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">
            <h3 style="text-align:center">Not Urgent</h3>
        </div>

    </div>

    @*row 3 - Important / Quad 1 / Quad 2 *@
    @*for each*@
        <div class="row">

            <div class="col-lg-2 col-xs-6 border border-width:8px border-dark">
                <h3 style="text-align:center">Important</h3>
            </div>

            <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">

                <h5 style="text-align:center">Quadrant 1</h5>

                @*row 3-1*@
                <div class="row">

                    <div class="col-9">
                        @*if statement*@
                        @foreach (var x in Model)
                        {
                            @if (@x.Quadrant == 1 && @x.Completed == false)
                            {<div class="col-6">@x.Task</div>

                            <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a>

                            <br />
                            }

                        }

                    </div>
                                
                </div>

            </div>

            <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">

                <h5 style="text-align:center">Quadrant 2</h5>

                @*row 3-2*@
                <div class="row">

                    <div class="col-9">
                        @*if statement*@
                        @foreach (var x in Model)
                        {
                            @if (@x.Quadrant == 2 && @x.Completed == false)
                            {<div class="col-6">@x.Task</div>
                            <a asp-controller="Home" asp-action="EdiTask " asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a>

                            <br />
                            }
                        }
                    </div>

                </div>

            </div>

        </div>

        @*row 4 - Not Important / Quad 3 / Quad 4*@

        <div class="row">

            <div class="col-lg-2 col-xs-6 border border-width:8px border-dark">
                <h3 style="text-align:center">Not Important</h3>
            </div>

            <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">

                <h5 style="text-align:center">Quadrant 3</h5>

                @*row 4-1*@
                <div class="row">

                    <div class="col-9">
                    @*if statement*@
                        @foreach (var x in Model)
                        {
                            @if (@x.Quadrant == 3 && @x.Completed == false)
                            {<div class="col-6">@x.Task</div>
                            <a  asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a>
                            <a  asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a>
                                    
                            <br />
                            }
                        }
                    </div>

                </div>

            </div>

            <div class="col-lg-5 col-xs-6 border border-width:8px border-dark">

                <h5 style="text-align:center">Quadrant 4</h5>

                @*row 4-2*@
                <div class="row">

                    <div class="col-7">
                        @*if statement*@

                        @foreach (var x in Model)
                        {
                            @if (@x.Quadrant == 4 && @x.Completed == false)
                            {<div class="col-6">@x.Task</div>
                            <a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a>

                            <br />
                            }

                        }

                    </div>

                </div>

            </div>

        </div>
</div>
        


